h1, h2 {
  font-family: Lato;
}

.content {
  /* width: 800px;
  height: 800px; */
  background-color: dimgrey;
  position: relative;
}

#lorem-lipsum {
  position: relative;
  width: 300px;
  top: 100px;
  left: 100px;
}
